<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<form action="#" th:action="@{/index}" th:object="${person}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{firstName}" /></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
        </tr>
        <tr>
            <td>LastName:</td>
            <td><input type="text" th:field="*{lastName}" /></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Age Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>


</form>



    <ul th:each="token : ${repo}">
        <li th:text="${token.firstName}" > First Name</li>
        <li th:text="${token.lastName}" > Last Name</li>
    </ul>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>



</body>
</html>